
services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro 
      - /etc/letsencrypt:/etc/letsencrypt:ro 
    depends_on:
      - bot
    networks:
      - vpn-network

  bot:
    build: .
    container_name: bot
    restart: unless-stopped
    volumes:
      - .:/app/project
    expose:
      - "1488"
    networks:
      - vpn-network

networks:
  vpn-network:
    driver: bridge
